<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cory1.aerwaze" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LandingPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchLocations"
            android:label="@string/title_activity_search_locations" >
        </activity>
        <activity
            android:name=".WithinLocationActivity"
            android:label="@string/title_activity_within_location" >
        </activity>
        <activity
            android:name=".ShowWithinLocation"
            android:label="@string/title_activity_show_within_location" >
        </activity>
        <activity
            android:name=".SearchRegulationsPage"
            android:label="@string/title_activity_search_regulations_page" >
        </activity>
        <activity
            android:name=".NearbyLocationsActivity"
            android:label="@string/title_activity_nearby_locations" >
        </activity>
        <activity
            android:name=".ShowRegulation"
            android:label="@string/title_activity_show_regulation" >
        </activity>
        <activity
            android:name=".GetZipFromUser"
            android:label="@string/title_activity_get_zip_from_user" >
        </activity>
    </application>

</manifest>
